.text-block-8{
    font-size: 10px;
}
.text-block-9{
    font-size: 10px;
}
.text-block-4{
    font-size: 10px;
}

.text-block-12{
  font-size: 11px;
}


.text-block-11{
  font-size: 9.5px;
}

.text-block-14{
  font-size: 12px;
}

.text-block-13{
  font-size: 12px;
}
.text-block-14{
  font-size: 12px;
}



.text-block-16{
  font-size: 12px;
}

.text-block-15{
  font-size: 12px;
}
.text-block-17{
  font-size: 12px;
}


.text-grey{
    font-size: 10px;
}

.no-margin{
    font-size: 13.5px;
}